# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\5.springBoot\SpringBoot2.x\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
